
@font-face{
	font-family: 'Roboto', sans-serif;	
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

* {
 font-size: 100%;
 font-family: 'Roboto', sans-serif;
 color: #00d0d0;
}

body{	
	background-color: #000000;		
}

#header{
	text-align: center;
	padding: 20px;
	font-size: 40px;
}

#container{
	display: flex;
	justify-content: center;
	align-items: stretch;			
}

#canvases {	
	flex: 1 1 auto;
	max-width: 1000px;
	min-height: 750px;
	border:5px solid #00d0d0;	
}

.column{	
	padding: 10px;
	border-top: 5px solid #00d0d0;	
}

.left .right {	
	flex: 0 1 auto;
	min-width: 460px;
	max-width: 460px;
	min-height: 750px;
	max-height: 750px;	
	white-space: pre;
}	 	

#paddles{	
	padding-top: 20px;
	display: flex;
	justify-content: left;
}