body{
	background-color: #000000;	
	color: #00d0d0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
	font-size:18px;
}

#header{
	text-align: center;
	padding: 20px;
}

#container{
	display: flex;
	justify-content: center;
	align-items: stretch;
	
	
	color: #00d0d0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
	font-size:18px;
}

#canvases {	
	flex: 1 1 auto;
	max-width: 1000px;
	min-height: 750px;
	color: #00d0d0;	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
	font-size:18px;
	border:5px solid #00d0d0;
	
}

.column{	
	padding: 10px;
	border-top: 5px solid #00d0d0;	
}

.left .right {	
	flex: 0 1 auto;
	min-width: 400px;
	max-width: 400px;
	min-height: 750px;
	max-height: 750px;	
}	 
	

#paddles{	
	padding-top: 20px;
	display: flex;
	justify-content: center;
	
	/* margin-left: auto;
	margin-right: auto;
	display: block; */
}